.tesla-car {
    width: 100%;
    min-height: 350px;
    background: #fff url(C:\Users\zolboy\Documents\GitHub\Testa_Battery_React\react-tesla-range-calculator\src\assets\tesla.jpg) no-repeat top center;
    background-size: contain; }
  
  .tesla-wheels {
    height: 247px;
    width: 555px;
    position: relative;
    margin: 0 auto; }
  
  .tesla-wheel {
    height: 80px;
    width: 80px;
    bottom: 0;
    position: absolute;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover; }
